#text {
	resize: none;
	border: 1px solid transparent;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 20px;
	min-height: 5em;
	max-height: 50vh;
}

#text:hover {
	border: 1px solid #c82333;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	transition-duration: 0.5s;
}

#text:focus {
	outline: none !important;
	border: 1px solid #c82333 !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
	transition-duration: 0.5s;
}

.media-content {
	font-size: 1rem;
	font-weight: 150;
	word-break: break-all;
}

#chuon {
	font-family: 'Montserrat', sans-serif !important;
	color: #c82333;
}

.twitter-header-name {
	color: grey;
}

.fa-check-circle {
	color: #0080ff;
}

.tweet-content {
	font-size: 1rem;
	font-weight: 150;
	word-break: break-word;
}

#tweets-list {
	margin-top: 10vh !important;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

small {
	font-size: 10px;
	color: grey;
}

.remaining {
	font-size: 13px;
	font-weight: 150;
}

#tweets-list {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 1rem;
	margin: 1px;
}

.highlight {
	color: red;
}

.comment {
	border-style: none;
}

.left-column {
	display: flex;
	justify-content: flex-start;
	flex-direction: center;
	align-items: flex-start;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	transition-duration: 1s;
}

.left-column:hover {
	display: flex;
	justify-content: flex-start;
	flex-direction: center;
	align-items: flex-start;
	border-right: 1px solid #c82333;
	border-bottom: 1px solid #c82333;
	transition-duration: 1s;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-direction: center;
	align-items: flex-start;
	border-left: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	transition-duration: 1s;
}

.right-column:hover {
	display: flex;
	justify-content: flex-start;
	flex-direction: center;
	align-items: flex-start;
	border-left: 1px solid #c82333;
	border-bottom: 1px solid #c82333;
	transition-duration: 1s;
}

.magical-button {
	margin-top: 20px;
	background-color: #c82333;
	border: none;
	color: white;
	padding: 15px 42px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 40px;
	font-weight: bold;
	outline: none;
	transition-duration: 2s;
}

.magical-button:hover {
	background-color: green;
	border: none;
	color: white;
	animation: rainbow-bg 5s;
	animation-iteration-count: infinite;
	padding: 15px 42px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 40px;
	font-weight: bold;
	outline: none;
	transition-duration: 2s;
}

.fa-paw {
	font-size: 3vmax;
	margin: 20px;
	color: #c82333;
}

.nav-item {
	font-weight: bold;
	color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif !important;
}

.nav-item:active {
	font-weight: bold;
	color: #c82333 !important;
	margin-bottom: 20px;
}

.nav-item:hover {
	font-weight: bold;
	color: #c82333 !important;
	margin-bottom: 20px;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

.navbar-brand:hover {
	transform: rotate(360deg);
	transition-duration: 2s;
}

.navbar-brand {
	transition-duration: 2s;
}

.rotate {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.nav {
	font-size: 20px;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes rainbow-bg {
	100%,
	0% {
		background-color: rgb(255, 0, 0);
	}
	8% {
		background-color: rgb(255, 127, 0);
	}
	16% {
		background-color: rgb(255, 255, 0);
	}
	25% {
		background-color: rgb(127, 255, 0);
	}
	33% {
		background-color: rgb(0, 255, 0);
	}
	41% {
		background-color: rgb(0, 255, 127);
	}
	50% {
		background-color: rgb(0, 255, 255);
	}
	58% {
		background-color: rgb(0, 127, 255);
	}
	66% {
		background-color: rgb(0, 0, 255);
	}
	75% {
		background-color: rgb(127, 0, 255);
	}
	83% {
		background-color: rgb(255, 0, 255);
	}
	91% {
		background-color: rgb(255, 0, 127);
	}
}

.main-tweet {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 30px 30px 30px;
	margin-top: 10%;
	border: 1px solid lightgrey;
	border-radius: 40px;
}

.main-tweet:hover {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 30px 30px 30px;
	margin-top: 10%;
	border: 1px solid red;
	border-radius: 40px;
}

.tweet {
	padding: 20px;
	margin: 10px;
	border: 1px solid lightgrey;
	border-radius: 30px;
	transition-duration: 0.5s;
}
.tweet:hover {
	padding: 20px;
	margin: 10px;
	border: 1px solid red;
	border-radius: 30px;
	transition-duration: 0.5s;
}

.container-fluid {
	height: 100%;
}

.modal-content {
	border-radius: 30px;
	border: 1px solid lightgrey;
}

.modal-body > #text {
	width: 29rem;
	border: 1px solid transparent;
	transition-duration: 0.5s;
	border-radius: 30px;
	min-height: 5em;
	max-height: 50vh;
}

.hashtag-render-area {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: center;
}

.hashtag-render-area > #hashtag {
	display: flex;
	color: #c82333;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold;
	margin: 1px;
	text-decoration: none;
}

.hashtag-render-area > #hashtag:hover {
	display: flex;
	color: #c82333;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold;
	margin: 1px;
}

mark {
	background-color: lightgrey;
	color: black;
}

mark:hover {
	background-color: #c82333;
	color: white;
}

#search {
	margin-top: 50px;
	background-color: #e6ecf0;
	border-style: none;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}

.box1 {
	margin-top: 15px;
	padding: 20px;
	background-color: #f5f8fa;
	border-radius: 20px;
}

.box2 {
	margin-top: 15px;
	padding: 20px;
	background-color: #f5f8fa;
	border-radius: 20px;
}

.trend {
	font-family: montserrat;
	color: #c82333;
	font-size: 20px;
	font-weight: 900;
}
.hashtag {
	font-size: 15px;
}

.vietnam {
	font-size: 13px;
}

.toddi {
	width: 50px;
}

.profile1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profileimg {
	width: 40px;
	margin-right: 5px;
}

.follow {
	font-size: 15px;
	font-weight: bold;
	border-radius: 15px;
	background-color: transparent;
	color: #c82333;
}

.p {
	display: flex;
	align-items: center;
}

.profile {
	font-size: 15px;
}

.profile-follow {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.imagebox {
	display: flex;
	/* justify-content: center !important; */
	flex-wrap: wrap;
	padding: 3px;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;
	/* border: 1px solid rgba(0, 0, 0, .1) */
}

.tweetimage {
	flex: 33.3%;
	max-width: 33.3%;
	padding-right: 2px;
}

.columnImg {
	margin-top: 2px;
	vertical-align: middle;
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.round-top-left {
	border-top-left-radius: 12px;
}
.round-bottom-left {
	border-bottom-left-radius: 12px;
}
.round-top-right {
	border-top-right-radius: 12px;
}
.round-bottom-right {
	border-bottom-right-radius: 12px;
}

.mention,
.hashtag {
	color: #0080ff;
	font-weight: 400;
	text-decoration: none;
}

.mention:hover,
.hashtag:hover {
	text-decoration: none;
}
